
@{
    ViewData["Title"] = "SQL Db with Key Vault";
}

<h1>Accessing SQL Db with Managed Identity</h1>

<div class="container">
    <ul>
        <li style="height:40px">Use Entity Framework <a class="btn btn-sm btn-success" asp-area="" asp-controller="SqlDb" asp-action="Ef">Test It</a></li>
        <li style="height:40px">Use Ado.Net <a class="btn btn-sm btn-success" asp-area="" asp-controller="SqlDb" asp-action="Ado">Test It</a></li>
    </ul>
</div>